.Bottom{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
    padding-bottom: 20px;
}
.Bottom > ul{
    margin: 0 auto;
}

.Bottom > ul > li{
    display: inline-block;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.Bottom > p{
    margin: 30px auto 0px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}
/* .Bottom > p::before{
    content: ' ';
    display: block;
    width: 5px;
    height: 5px;
    background-color: pink;
    border-radius: 5px;
} */