.Post {
    margin-top: 20px;
    min-width: 820px;
    margin: 0 auto;
    max-width: 1060px;
    text-align: left;

}
.Post > .postDetail{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
}


.Post > .postDetail > h2{
    font-size: 36px;
}
.Post > .postDetail > .postUser{
    margin-top: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);

}
.Post > .postDetail > .content{
    padding: 10px 0;
}
.Post > .postComment{
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
}

.Post > .postComment > div:first-child{
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.5);
}
.postComment > .commentDetail > li{

    padding: 10px 0 10px 10px;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 25px;
}
.postComment > .commentDetail > li > img{
    width: 50px;
    height: 50px;
    background-color: black;
    flex-shrink:0;
}
.postComment > .commentDetail > li > div{
    display: inline-block;
    padding-left: 10px;
    flex-shrink: 1;
} 

.Post > .newComment{
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
}
.Post > .newComment > form{
    padding: 10px 10px;
}
.Post > .newComment > div{
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.Post > .newComment > form > textarea{
    border: 1px solid  rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    outline:  none;
    resize: none;
    border-radius: 5px;
}

.Post > .newComment > form > textarea:focus{
    border: 1px solid  rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    outline:  none;
    resize: none;
    padding: 5px;
}
.Post > .newComment > form > button{

    padding: 3px 7px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    line-height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.1));
}

.postComment > .commentDetail > li button{
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
}
.postComment > .commentDetail > li button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
