.container{
    background-color: transparent;
    min-height: calc(100vh - 185px);
    position: relative;
}
.loginPanel3{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    background: transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 350px;
    width: 500px;
}


.loginPanel3 > form{
    text-align: left;
    background-color:rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    border-radius: 5px;
    flex-grow: 1;
}

.loginPanel3 > form > p{
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.loginPanel3 > form > div {
    margin-left: 50px;
    margin-top: 20px;
    width: 350px;
}

.loginPanel3 > form > div > input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 250px;
    line-height: 25px;
    padding: 0px 5px;
    box-sizing: border-box;
    height: 25px;
    outline: none;
}
.loginPanel3 > form > div > input:focus{
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.loginPanel3 > form > div > span{
    display: inline-block;
    width: 80px;
    text-align-last: right;
    padding-right: 5px;
}
.loginPanel3 > form > div:last-child{
    
    display: flex;
}

.loginPanel3 > form > div > button{
    width: 100px;
}

.loginPanel3 > .otherLogin{
    background-color: white;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}
.loginPanel3 > .otherLogin > p{
    text-align: left;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.loginPanel3 > form > div:last-child{
    display: flex;
    justify-content: space-around;
}

#avatarFile{
    display: none;
}
#avatarFile~label{
    display: inline-block;
    width: 60px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(21,216,128, 0.8);
    color: white;
}
