.loginPanel3{
    max-width: 1060px;
    min-width: 820px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    background: #E2E2E2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}


.loginPanel3 > form{
    text-align: left;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    flex-grow: 1;
}

.loginPanel3 > form > p{
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.loginPanel3 > form > div {
    margin-left: 50px;
    margin-top: 20px;
    width: 350px;
}

.loginPanel3 > form > div > input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 250px;
    line-height: 25px;
    padding: 0px 5px;
    box-sizing: border-box;
    height: 25px;
    outline: none;
}
.loginPanel3 > form > div > input:focus{
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.loginPanel3 > form > div > span{
    display: inline-block;
    width: 80px;
    text-align-last: right;
    padding-right: 5px;
}
.loginPanel3 > form > div:last-child{
    
    display: flex;
}

.loginPanel3 > form > div > button{
    padding: 3px 7px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    line-height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#fff, rgba(0, 0, 0, 0.1));
}

.loginPanel3 > .otherLogin{
    background-color: white;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}
.loginPanel3 > .otherLogin > p{
    text-align: left;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
